*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif !important; 
}

.container {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(9.1px);
  width: 400px;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
}

.colors {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.colors input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.colors input::-webkit-color-swatch {
  border: none;
  border-radius: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.buttons button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #d5d5dc;
  border-radius: 5px;
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(45deg);
}

.buttons .active {
  border: none;
  background-color: #4a6ee0;
  color: #fff;
}

#submit {
  display: block;
  padding: 15px 70px;
  color: #fff;
  background-color: #4a6ee0;
  border-radius: 25px;
  margin: 0px auto 30px auto;
  font-size: 16px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

#submit:hover {
  background-color: #163ec1;
}

.output {
  background-color: #f0f2fc;
}

#code {
  width: 100%;
  resize: none;
  color: #30304a;
  padding: 10px 20px;
  background-color: transparent;
}

#copyBtn {
  font-size: 14px;
  background-color: #4a6ee0;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  left: 85%;
  bottom: 10px;  
  transition: all ease-in-out 0.2s;
}

#copyBtn:hover {
  background-color: #163ec1;
}
